<a href="https://colab.research.google.com/github/ttuyetdinh/diveintocode-ml/blob/master/Assign_Matrix_scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Problem 1

In [29]:
a = np.array([[-1, 2, 3], [4, -5, 6], [7, 8, -9]])
b = np.array([[0, 2, 1], [0, 2, -8], [2, 9, -1]])
print(a)
print(b)

[[-1  2  3]
 [ 4 -5  6]
 [ 7  8 -9]]
[[ 0  2  1]
 [ 0  2 -8]
 [ 2  9 -1]]

According to this equation, we can calculate the multiple of 2 matrix has shape (m,n) and (n,p) as follow:
![image.png]()

Get the sum of product of each row and column one by one, we have:
$$a[1][1]=(-1)*0 + 2*0 + 3*2 = 6$$
$$a[1][2]=(-1)*2 + 2*2 + 3*9 = 29$$

  And continue to a[m][p] we get the product of 2 matrices

# Problem 2

In [27]:
import numpy as np
import math
a_ndarray = np.array([[-1, 2, 3], [4, -5, 6], [7, 8, -9]])
b_ndarray = np.array([[0, 2, 1], [0, 2, -8], [2, 9, -1]])
matrix_multi1=a_ndarray @ b_ndarray
matrix_multi2=np.matmul(a_ndarray,b_ndarray)
matrix_multi3=np.dot(a_ndarray,b_ndarray)
print(matrix_multi1)
print(matrix_multi2)
print(matrix_multi3)

[[  6  29 -20]
 [ 12  52  38]
 [-18 -51 -48]]
[[  6  29 -20]
 [ 12  52  38]
 [-18 -51 -48]]
[[  6  29 -20]
 [ 12  52  38]
 [-18 -51 -48]]

#Problem 3,4,5,6

In [28]:
def matmulti(a,b):
  temp=np.zeros((a.shape[0],b.shape[1]))
  if (a.shape[1]!=b.shape[0]):
    print("Can' multiple 2 matrix !")
  else:
    for i in range(a.shape[0]):
      for j in range(b.shape[1]):
        temp[i][j]=sum(a[i]*b.T[j])
    return temp
a=matmulti(a_ndarray,b_ndarray)
print(a)

[[  6.  29. -20.]
 [ 12.  52.  38.]
 [-18. -51. -48.]]